@{
    ViewBag.Title = "Home Page";
}
</br>
<table align="center">
    <tr>
        <td>
            Usuario: 
        </td>
        <td>
            <input id="usuario" type="text" />
        </td>
    </tr>
    <tr>
        <td>
            Contraseña: 
        </td>
        <td>
            <input id="contrasena" type="password" />
        </td>
    </tr>
    <tr>
        <td>
            <input id="inicio" type="button" value="Iniciar Sesion" />
        </td>
        <td>
            <input id="registro" type="button" value="Registrar" />
        </td>
    </tr>
</table>